TZ=UTC
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
APP_KEY=
NODE_ENV=production

# DB_HOST/DB_PORT/REDIS_HOST/REDIS_PORT are injected by docker-compose.
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app

# I DONT USE SMTP RELAY ANYMORE
# I USE BREVO API KEY INSTEAD
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
BREVO_API_KEY=

BYPASS_OTP_VERIFICATION=false
MAIL_FROM_NAME=SkinSight
MAIL_FROM_EMAIL=auth@skinsight.com
APP_URL=https://your-domain.com
ML_URL=https://ml-service-url/skin-type
BYPASS_FACE_SCAN=false
BYPASS_INGREDIENTS_OCR=false
LIMITER_STORE=database
BYPASS_LIMITER=false
API_UV_URL=https://uv-service-url/api
API_GEO_URL=https://uv-service-url/geo
API_GEO_KEY=YOUR_API_KEY_HERE
N8N_URL=https://n8n-service-url
REDIS_PASSWORD=
